@model IEnumerable<KapyApp.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notifyFrequency)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.Role.roleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notifyFrequency)
        </td>
  
        <td>
            @Html.DisplayFor(modelItem => item.Role.roleName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userId }) |
            @Html.ActionLink("Details", "Details", new { id=item.userId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userId })
        </td>
    </tr>
}

</table>
