@model IEnumerable<KapyApp.Models.News1>

@{
    ViewBag.Title = "Index";
}

<h2>News</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.uniqueTitle)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.picUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.newsTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.newsDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.newsTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.origUrl)
        </th>*@

        @*<th>
            @Html.DisplayNameFor(model => model.newsContent)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.numOfClicks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numOfLikes)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Category.categoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source.sourceName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.picUrl) " style="width:200px;height:128px;">
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.uniqueTitle)
        </td>*@
        <td>
            @Html.ActionLink(item.newsTitle, "Details", new { id = item.newsId })

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.newsDate)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.newsTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.origUrl)
        </td>*@

        @*<td>
            @Html.DisplayFor(modelItem => item.newsContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numOfClicks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numOfLikes)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Category.categoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source.sourceName)
        </td>
        <td>
            @*@Html.ActionLink("Details", "Details", new { id = item.newsId }) |
    @Html.ActionLink("Edit", "Edit", new { id=item.newsId }) |*@
    @Html.ActionLink("Delete", "Delete", new { id=item.newsId })
        </td>
    </tr>
}

</table>
